<div class = 'stat-card'>
  <div class = 'stat-card-outliner'>
    <div class = 'stat-card-bonus'>
      <p>+12</p>
    </div>
    <div class = 'stat-card-stat-input'>
      <app-character-sheet-input-box
        [inputBoxWidth]="'141px'"
        [inputBoxHeight]="'71px'"
        [inputBoxType]="'number'"
        [inputBoxTextAlign]="'center'"
        [inputBoxId]="'statInput-'+ statName"
        [inputBoxInputWidth]="'90%'"
        [maxInputLength]="2"

        (focusOut)="updateStatValue($event)"
      >
      </app-character-sheet-input-box>
    </div>
  </div>

  <h1 class = 'stat-name'> {{ statName }}</h1>

</div>
