<div class = 'stat-card'>
  <div class = 'stat-card-outliner'>
  <div class = 'stat-card-bonus'>
    <p>+12</p>
  </div>
  <div class = 'stat-card-stat-input'>
    <app-character-sheet-input-box
      [inputBoxWidth]="'100px'"
      [inputBoxHeight]="'42px'"
      [inputBoxType]="'number'"
      [inputBoxTextAlign]="'center'"
      [inputBoxId]="'statInput-'+ statName"
      [inputBoxInputWidth]="'90%'"
      [maxInputLength]="2"
    >
    </app-character-sheet-input-box>
  </div>
  </div>

</div>
