<div class = 'stat-card'>
  <div class = 'stat-card-outliner'>
    <div class = 'stat-card-bonus'>
      <div class = 'hex-top'></div>
      <div class = 'hex-mid'>
        <h1 class = 'abilityScoreBonus'>{{formatedAbilityScoreBonus}}</h1>
      </div>
      <div class = 'hex-bottom'></div>
      
    </div>
    <div class = 'stat-card-stat-input'>
      <app-character-sheet-input-box
        [inputBoxWidth]="'141px'"
        [inputBoxHeight]="'48px'"
        [inputBoxType]="'number'"
        [inputBoxTextAlign]="'center'"
        [inputBoxId]="'statInput-'+ stat"
        [inputBoxInputWidth]="'90%'"
        [maxInputLength]="2"
        (focusOut)="updateAbilityScore($event)"
      >
      </app-character-sheet-input-box>
    </div>
  </div>

  <h1 class = 'stat-name'>{{ statDisplayName }}</h1>
</div>
