<div id = 'character-sheet-player-bio'>
  <div id = 'character-sheet-player-bio-lvl-and-xp'>
    <app-character-sheet-input-box
      [inputBoxWidth]="'86px'"
      [inputBoxHeight]="'42px'"
      [inputBoxInnerTitle]="'LV'"
      [inputBoxType]="'number'"
      [inputBoxId]="'bioInputCurrentLv'"
      [maxInputLength]="2"
      [inputBoxPlaceholder]="'20'"
    >
    </app-character-sheet-input-box>

    <div id = 'character-sheet-bio-xp-div'>
      <app-character-sheet-input-box
      [inputBoxWidth]="'160px'"
      [inputBoxHeight]="'42px'"
      [inputBoxInnerTitle]="'XP'"
      [inputBoxType]="'number'"
      [inputBoxId]="'bioInputCurrentXp'"
      [maxInputLength]="6"
      [inputBoxPlaceholder]="'12.000'"
      >
      </app-character-sheet-input-box>
      <p>/</p>
      <app-character-sheet-input-box
      [inputBoxWidth]="'116px'"
      [inputBoxHeight]="'42px'"
      [inputBoxType]="'number'"
      [inputBoxTextAlign]="'center'"
      [inputBoxId]="'bioInputMaxXp'"
      [maxInputLength]="6"
      [inputBoxPlaceholder]="'24.000'"
      >
      </app-character-sheet-input-box>

    </div>
  </div>
  <div id = 'character-sheet-player-bio-basic'>
    <img src = '../../assets/imgs/dragonborn.jpg'>

    <div class = 'character-sheet-bio-info-input-box'>
      <h1>
        Name
      </h1>
        <app-character-sheet-input-box
        [inputBoxWidth]="'400px'"
        [inputBoxHeight]="'42px'"
        [inputBoxType]="'text'"
        [inputBoxTextAlign]="'start'"
        [inputBoxId]="'bioInputName'"
        [inputBoxInputWidth]="'92%'"
        [maxInputLength]="27"
        [inputBoxPlaceholder]="'Legnar D. Kitrik'"
        >
        </app-character-sheet-input-box>

        <h1>
          Class
        </h1>
          <app-character-sheet-input-box
          [inputBoxWidth]="'400px'"
          [inputBoxHeight]="'42px'"
          [inputBoxType]="'text'"
          [inputBoxTextAlign]="'start'"
          [inputBoxId]="'bioInputClass'"
          [inputBoxInputWidth]="'92%'"
          [maxInputLength]="27"
          [inputBoxPlaceholder]="'Cleric'"
          >
          </app-character-sheet-input-box>

          <h1>
            Race
          </h1>
            <app-character-sheet-input-box
            [inputBoxWidth]="'400px'"
            [inputBoxHeight]="'42px'"
            [inputBoxType]="'text'"
            [inputBoxTextAlign]="'start'"
            [inputBoxId]="'bioInputRace'"
            [inputBoxInputWidth]="'92%'"
            [maxInputLength]="27"
            [inputBoxPlaceholder]="'Dragonborn'"
            >
            </app-character-sheet-input-box>

            <h1>
              Origin
            </h1>
              <app-character-sheet-input-box
              [inputBoxWidth]="'400px'"
              [inputBoxHeight]="'42px'"
              [inputBoxType]="'text'"
              [inputBoxTextAlign]="'start'"
              [inputBoxId]="'bioInputOrigin'"
              [inputBoxInputWidth]="'92%'"
              [maxInputLength]="27"
              [inputBoxPlaceholder]="'Acolite'"
              >
              </app-character-sheet-input-box>
    </div>

  </div>
</div>
