<div id = 'character-sheet-player-bio'>
  <div id = 'character-sheet-player-bio-lvl-and-xp'>
    <app-character-sheet-input-box
      [inputBoxWidth]="'86px'"
      [inputBoxHeight]="'42px'"
      [inputBoxInnerTitle]="'LV'"
      [inputBoxType]="'number'"
    >
    </app-character-sheet-input-box>

    <div id = 'character-sheet-bio-xp-div'>
      <app-character-sheet-input-box
      [inputBoxWidth]="'156px'"
      [inputBoxHeight]="'42px'" 
      [inputBoxInnerTitle]="'XP'"
      [inputBoxType]="'number'"
      >
      </app-character-sheet-input-box>
      <p>/</p>
      <app-character-sheet-input-box
      [inputBoxWidth]="'116px'"
      [inputBoxHeight]="'42px'" 
      [inputBoxType]="'number'"
      >
      </app-character-sheet-input-box>
    
    </div>
  </div>
</div>