#character-sheet-container{
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    width: 100%;
    height: 100%;
}

#character-sheet-bio-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-gap: 32px
}

#character-sheet-bio-separator{
  height: 760px;
  width: 4px;
  margin-top: 12px;
  border-radius: 8px;
  background-color: rgba(3, 24, 26, 1);

}

