.main-player-stats{
  padding-top: 24px;
}

.stats-grid{
  width: 600px;
  height: fit-content;
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 150px;
  height: 120px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
